<section id="contact" class="section-padding">
    <h2>Get In Touch</h2>
    <div class="divider"></div>
    <div class="contact-icons">
        <a href="https://www.linkedin.com/in/jonathan-laasonen-974aa617a/"
            target="_blank" 
            class="icon-link" 
            aria-label="LinkedIn Link">
            <i class="fab fa-linkedin fa-2x"></i>
        </a> 
                
        <a href="https://github.com/jona-laa/" 
            target="_blank"
            class="icon-link" 
            aria-label="GitHub Link">
            <i class="fab fa-github fa-2x"></i>
        </a> 
            
        <a href="mailto:jona.laa.dev@gmail.com" 
            target="_blank" 
            class="icon-link"
            aria-label="Send Email Link">
            <i class="fas fa-envelope fa-2x"></i>
        </a>
    </div>
</section>