@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
    <ul id="menu-main-menu" class="menu">
        <li>
            <a 
                asp-controller="Home" 
                asp-action="Index"
                class="menu-link">
                Preview
            </a>
        </li>
        <li>
            <a 
                asp-controller="About" 
                asp-action="Index"
                class="menu-link">
                About
            </a>
        </li>
        <li>
            <a 
                asp-controller="Skill" 
                asp-action="Index"
                class="menu-link">
                Skills
            </a>
        </li>
        <li>
            <a 
                asp-controller="Work" 
                asp-action="Index"
                class="menu-link">
                Work
            </a>
        </li>
        <li>
            <a 
                asp-controller="Course" 
                asp-action="Index"
                class="menu-link">
                Course
            </a>
        </li>
        <li>
            <a 
                asp-controller="Project" 
                asp-action="Index"
                class="menu-link">
                Portfolio
            </a>
        </li>
        <li>
            <a 
                asp-controller="Blog" 
                asp-action="Admin"
                class="menu-link">
                Blog
            </a>
        </li>
    
        <li>
            <a 
                class="menu-link" 
                asp-area="Identity" 
                asp-page="/Account/Manage/Index" 
                title="Manage">
                Profile
            </a>
        </li>
        <li>
            <form id="logout" class="logout-form" action="@Url.Action("Logout", "Account")" method="POST">
                <button type="submit" id="logout-btn" value="Log Out" class=" menu-link"> Log Out </button>
            </form>
        </li>
     </ul>
    }
    else
    {
    <ul id="menu-main-menu" class="menu">
        <li>
            <a 
                href="#about-me" 
                class="menu-link">
                About Me
            </a>
        </li>
        <li>
            <a 
                href="#skillset" 
                class="menu-link">
                Skillset
            </a>
        </li>
        <li>
            <a 
                href="#resume" 
                class="menu-link">
                Resume
            </a>
        </li>
        <li>
            <a 
                href="#portfolio" 
                class="menu-link">
                Portfolio
            </a>
        </li>
        <li>
            <a 
                asp-controller="Blog" 
                asp-action="Index"
                class="menu-link">
                Blog
            </a>
        </li>
        <li>
            <a 
                class="menu-link" 
                asp-controller="Account" 
                asp-action="Login">
                Login
            </a>
        </li>
    </ul>
    }
