@model PortfolioMVC.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<main>
    @* <h1>About</h1> *@

    <section id="edit-items" class="bg-light section-padding">
        <h2>Projects</h2>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row trio">
            <div class="portfolio-item">
                <img src="/images/uploads/@(Model.ImageName)" asp-append-version="true" alt="">
                <h3>@Model.Title</h3>
                <a href="@Model.Url" target="_blank">@Model.Url</a>
                <p>@Model.Description</p>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
        <a asp-action="Index">Back to List</a>
    </section>
</main>
