@model PortfolioMVC.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<main>
    @* <h1>Create</h1> *@
    <section id="edit" class="section-padding">
        <h2>Edit Project</h2>
        <form id="edit-form" asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div>
                <input asp-for="Url" placeholder="Url" />
                <label asp-for="Url"></label>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Title" placeholder="Title" />
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="textarea">
                <textarea asp-for="Description" placeholder="Description"></textarea>
                <label asp-for="Description"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="ImageName" />
                <label asp-for="ImageName"></label>
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form_buttons">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>
