@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<main>
    <section id="edit" class="section-padding">
    <h2>Change Password</h2>
    <div class="divider"></div>
        <form id="change-password-form" method="post">
            <div class="textarea">
                <input asp-for="Input.OldPassword" class="form-control" placeholder="Old Password" />
                <label asp-for="Input.OldPassword"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Input.NewPassword" class="form-control" placeholder="New Password" />
                <label asp-for="Input.NewPassword"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form_buttons">
                <button type="submit" id="submit" class="btn">Update password</button>
            </div>
        </form>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_AdminScripts" />