@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<main>
    <section id="edit" class="section-padding">
    <h2>Personal Data</h2>
    <div class="divider"></div>
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>Deleting this data will permanently remove your account, and this cannot be recovered.</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <div class="edit-items_controls">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Delete</a>
        </div>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_AdminScripts" />