@model PortfolioMVC.Models.Skill

@{
    ViewData["Title"] = "Create";
}

<main>
    @* <h1>Create</h1> *@
    <section id="edit" class="section-padding">
        <h2>Create About</h2>
        <form id="edit-form" asp-action="Create">
            <div>
                <input asp-for="SkillName" placeholder="Skill" />
                <label asp-for="SkillName"></label>
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Icon" placeholder="Icon" />
                <label asp-for="Icon"></label>
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form_buttons">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
