@model PortfolioMVC.Models.Skill

@{
    ViewData["Title"] = "Delete";
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>Delete Skill</h2>
        <div class="divider"></div>
        <div id="edit-items_container" class="row">
            <div class="skill">
                <i class="@Model.Icon fa-3x"></i>
                <span>@Model.SkillName</span>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form> 
            </div>
        </div>
        <div class="go-back">
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

<partial name="_AdminScripts" />
