@model IEnumerable<PortfolioMVC.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<main>
    @* <h1>About</h1> *@

    <section id="edit-items" class="bg-light section-padding">
        <h2>Skills</h2>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row">
            @foreach (var item in Model) {
                <div class="skill">
                    <i class="@item.Icon fa-3x"></i>
                    <span>@item.SkillName</span>
                    <div class="edit-items_controls">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    </section>
</main>
