@model IEnumerable<PortfolioMVC.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

@section heroContent {
    <div class="hero-content">
      <h1 class="title">Skills</h1>
      <a href="#edit-items" class="arrow-link"><i class="fas fa-chevron-down fa-3x"></i></a>
    </div>
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>Skills</h2>
        <div class="divider"></div>
        <p class="create-new">
            <a asp-action="Create">Create New</a>
        </p>
        <div id="edit-items_container" class="row">
            @foreach (var item in Model) {
                <div class="skill">
                    <i class="@item.Icon fa-3x"></i>
                    <span>@item.SkillName</span>
                    <div class="edit-items_controls">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-control">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="edit-control">Delete</a>
                    </div>
                </div>
            }
        </div>
    </section>
</main>

<partial name="_AdminScripts" />
