@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<main>
    <section id="edit" class="section-padding">
    <h2>Log Out</h2>
    <div class="divider"></div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
    </section>
</main>

<partial name="_AdminScripts" />