@model PortfolioMVC.Models.Work

@{
    ViewData["Title"] = "Create";
}

<main>
    @* <h1>Create</h1> *@
    <section id="edit" class="section-padding">
        <h2>Create Work</h2>
        <form id="edit-form" asp-action="Create">
            <div>
                <input asp-for="Company" placeholder="Company" />
                <label asp-for="Company"></label>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Title" placeholder="Title" />
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="DateStart" />
                <label asp-for="DateStart"></label>
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="DateEnd" />
                <label asp-for="DateEnd"></label>
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="textarea">
                <textarea asp-for="Description" placeholder="Description"></textarea>
                <label asp-for="Description"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form_buttons">
                <input type="reset" value="Cancel" id="submit" class="btn">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
