@model PortfolioMVC.Models.Work

@{
    ViewData["Title"] = "Work - Edit";
}

<main>
    <section id="edit" class="section-padding">
        <h2>Edit Work</h2>
        <div class="divider"></div>
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div>
                <input asp-for="Company" />
                <label asp-for="Company"></label>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Title" />
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="DateStart" />
                <label asp-for="DateStart"></label>
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="DateEnd" />
                <label asp-for="DateEnd"></label>
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="textarea">
                <textarea asp-for="Description"></textarea>
                <label asp-for="Description"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form_buttons">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>
        <div class="go-back">
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="_AdminScripts" />
