@model PortfolioMVC.Models.AboutViewModel

@{
    ViewData["Title"] = "Create";
}

<main>
    <section id="edit" class="section-padding">
        <h2>Create About</h2>
        <div class="divider"></div>
        <form id="edit-form" asp-action="Create" enctype="multipart/form-data">
            <div>
                <input asp-for="Title" placeholder="Heading" />
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="ImageFile" accept="image/*" />
                <label asp-for="ImageFile"></label>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="ImageDescription" class="form-control" placeholder="Image Description" />
                <label asp-for="ImageDescription" class="control-label"></label>
                <span asp-validation-for="ImageDescription" class="text-danger"></span>
            </div>
            <div class="textarea">
                <textarea asp-for="Content" placeholder="About Text"></textarea>
                <label asp-for="Content"></label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form_checkbox">       
                <input class="form-check-input" asp-for="IsPublished" /> 
                <label asp-for="IsPublished" class="form-check-label"></label>
            </div>
            <div class="form_buttons">
                <input type="reset" value="Cancel" class="btn">
                <input type="submit" value="Create" id="submit" class="btn"> 
            </div>
        </form>
        <div class="go-back">
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="_AdminScripts" />
