@model PortfolioMVC.Models.About

@{
    ViewData["Title"] = "Delete";
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>Delete Article</h2>
        <div class="divider"></div>
        <div id="edit-items_container" class="row">
            <div class="about-container">
                <div class="avatar-container">  
                    <div class="avatar" style="background: url('/images/uploads/@(Model.ImageName)') no-repeat center center/cover"></div>
                </div>

                <div>
                    <div>
                        <h3 class="left-align">@Model.Title</h3>
                        <p>@Html.Raw(Model.Content.Replace("\n", "</p><p>"))</p>
                        <p>Published: @Model.IsPublished</p>
                    </div>
                </div>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
        <div class="go-back">
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

<partial name="_AdminScripts" />
