@model PortfolioMVC.Models.BlogPost

@{
    ViewData["Title"] = "Blog - Edit";
}

<main>
    <section id="edit" class="section-padding">
        <h2>Edit About</h2>
        <div class="divider"></div>
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            
            <div>
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <label asp-for="Title" class="control-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="ImageName" accept="image/*" class="form-control" />
                <label asp-for="ImageName" class="control-label"></label>
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Posted" accept="image/*" class="form-control" />
                <label asp-for="Posted" class="control-label"></label>
                <span asp-validation-for="Posted" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="ImageDescription" class="form-control" />
                <label asp-for="ImageDescription" class="control-label"></label>
                <span asp-validation-for="ImageDescription" class="text-danger"></span>
            </div>
            <div class="textarea">
                <textarea asp-for="Body" class="form-control" placeholder="Blog Text"></textarea>
                <label asp-for="Body" class="control-label"></label>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form_buttons">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
        <div class="go-back">
            <a asp-action="Admin">Back to List</a>
        </div>
    </section>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="_AdminScripts" />
