@model IEnumerable<PortfolioMVC.Models.BlogPost>
@inject PortfolioMVC.Models.DateFormat Format

@{
    ViewData["Title"] = "Blog";
}

@section heroContent {
    <div class="hero-content">
      <h1 class="title">Blog</h1>
      <a href="#edit-items" class="arrow-link"><i class="fas fa-chevron-down fa-3x"></i></a>
    </div>
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>Blog Posts</h2>
        <div class="divider"></div>
        <div id="edit-items_container" class="row">
        @foreach (var post in Model)
        {
            <partial name="_Post" model="post"/>
        }
        </div>
        <partial name="_Pager" />
    </section>
</main>

<partial name="_AdminScripts" />