@model IEnumerable<PortfolioMVC.Models.BlogPost>

@{
    ViewData["Title"] = "Blog";
}

@section heroContent {
    <div class="hero-content">
      <h1 class="title">Blog</h1>
      <a href="#edit-items" class="arrow-link" aria-label="Scroll down to main content"><i class="fas fa-chevron-down fa-3x"></i></a>
    </div>
}

@section blogMenu {
<ul id="menu-main-menu" class="menu">    
    <li>
        <a 
            asp-controller="Home" 
            asp-action="Index" 
            class="menu-link">
            Home
        </a>
    </li>
    <li>
        <a 
            asp-controller="Blog" 
            asp-action="Index"
            class="menu-link">
            Blog
        </a>
    </li>
</ul>
}

<main>
    <section id="edit-items" class="bg-light section-padding">
        <h2>Blog Posts</h2>
        <div class="divider"></div>
        <div id="edit-items_container" class="row">
        @foreach (var post in Model)
        {
            <partial name="_Post" model="post"/>
        }
        </div>
        <partial name="_Pager" />
    </section>
</main>

<partial name="_AdminScripts" />