@model IEnumerable<PortfolioMVC.Models.About>

@foreach (var post in Model)
{
    <div class="avatar-container" role="img" aria-label="@post.ImageDescription">   
        <div class="avatar" style="background: url('/images/uploads/about/@(post.ImageName)') no-repeat center center/cover"></div>
    </div>

    <div>
        <div>
        <h3>@post.Title</h3>
        <p>@Html.Raw(post.Content.Replace("\n", "</p><p>"))</p>
        </div>
    </div>    
}
