@model PortfolioMVC.Models.Course

@{
    ViewData["Title"] = "Create";
}

<main>
    <section id="edit" class="section-padding">
        <h2>Create Course</h2>
        <div class="divider"></div>
        <form id="edit-form" asp-action="Create">
            <div>
                <input asp-for="CourseName" placeholder="Course Name" />
                <label asp-for="CourseName"></label>
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Institution" placeholder="Institution" />
                <label asp-for="Institution"></label>
                <span asp-validation-for="Institution" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="DateStart" />
                <label asp-for="DateStart"></label>
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="DateEnd" />
                <label asp-for="DateEnd"></label>
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="textarea">
                <textarea asp-for="Description" placeholder="Description"></textarea>
                <label asp-for="Description"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form_buttons">
                <input type="reset" value="Cancel" class="btn">
                <input type="submit" value="Create" id="submit" class="btn" />
            </div>
        </form>
        <div class="go-back">
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="_AdminScripts" />
